/** Styles for the web page **/
body, .container, .detail-area, html, .map-area, .row {
	height: 99%;
}

.detail-area, .map-area, .nav-bar {
	border: 5px solid blue;
}

.nav-bar {
	margin-bottom: .05%;
}

.map-area {
	float: left;
	width: 59%;
}

.detail-area {
	float: right;
	margin-left: 1%;
	width: 40%;
}

.map-container {
	height: 98%;
}

